<app-barra-navegacion></app-barra-navegacion>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-4">Información sobre Items</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Cultos</div>
                        Cultos de viernes y de sábado o todo lo que sea con doxología, una reunión formal
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Espiritual</div>
                        Clases de Escuela Sábatica, Introducciones o bienvenidas a programas, asistencia en cultos,
                        dirigir espacio de alabanza.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Varias</div>
                        Preparativos de: sermones, programas, agendas de consejos, horas de lectura, dedicación a la
                        oración, retiros espirituales personales, etc. Todo lo relacionado con los procesos de las
                        actividades de la iglesia.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Ceremonias</div>
                        Bodas, inauguración de grupos/iglesias, renovaciones de votos, funerales, presentaciones de
                        niños o ceremonias de Santa Cena, bautismos, ordenación ancianos, diaconos.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Formación</div>
                        Cómo dar estudios bíblicos, homilética, formación de ancianos, diáconos, etc, cursos de
                        formación personal.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Visitas</div>
                        Incluye todo tipo de visitas (regulares, enfermos, etc.) a miembros de iglesia
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Consejos</div>
                        Consejos de iglesia
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Administración</div>
                        Reuniones administrativas
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Reuniones</div>
                        Consejos y comisiones de distinta naturaleza en las iglesias.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Campaña</div>
                        Programas evangelísiticos de varios días de duración en una iglesia. 		
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Conferencia</div>
                        Incluye toda temática orientada al exterior: conciertos de navidad, semana santa, cursos de cocina, salud, famlia, salida para repartir libros o folletos, etc. 						
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Grupo Pequeño</div>
                        Reuniones de Grupos Pequeños normalmente en hogares. 	
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Estudios Bíblicos</div>
                        Se computan los estudios bíblicos dados, no las personas presentes en los mismos. Este último dato se recogerá en otro apartado, el de los interesados en estudios. 							
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Misioneras</div>
                        Incluye toda visita hecha a personas que no son miembros de iglesia		
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Secretario</div>
                        Son las reuniones que habrá tenido con el secretario de la/s iglesia/s para ver los informes de Secretaría.				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Ancianos</div>
                        Son las reuniones específicas con los Ancianos de iglesia para planificar programación, encuentros, visitaciones, etc.					
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Tesorero</div>
                        Son las reuniones que habrá tenido con el tesorero de la/s iglesia/a para ver los informes de Tesorería.				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Redes Sociales</div>
                        Son las actividades de mantenimiento que se realizan en redes sociales (FB, TW, Instagram, página web de evangelización o de la iglesia, etc.)					
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Gestiones</div>
                        Tareas propias del escritorio o despacho, visitas en ayuntamientos, bancos, relaciones públicas, permisos, etc.				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Entrevistas</div>
                        Se incluirán las llamadas telefónicas de cierta duración, más de 10 minutos, y cualquier entrevista personal fuera del domicilio de la persona interesada.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sociales</div>
                        ADRA, Dorcas, Actividades de servicio a la Comunidad, mesas fraternales, salidas con los jóvenes, actividades deportivas. 					
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Regionales / Nacionales</div>
                        Convenciones y encuentros regionales o nacionales pastorales o de los diferentes departamentos. 				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Interesados EB</div>
                        Las personas que reciben estudios bíblicos de tu parte o de parte de otros instructores bíblicos de tus iglesias. 				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Bautismos</div>
                        Las personas que has bautizado en este mes. 	
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Profesiones</div>
                        Las personas que has sido recibidas por profesion de fe en tus iglesias en el mes en curso				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Personas Visitadas</div>
                        El número de todas las personas que has visitado siendo miembros adventistas 				
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Visitas Misioneras</div>
                        El número de las personas no adventistas visitadas	
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>